# Node
node_modules/
dist/
.env
.env.*     # if you use .env.development or .env.production
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
*.log
.DS_Store

# System files
Thumbs.db

# Vite cache
*.local
*.svelte-kit
.cache/

# IDE configs
.idea/